* {
    margin: 0;
    padding: 0;
}

/*
colors:
rgb(0,0,0)
rgb(255,255,255)
rgb(217,184,217)
rgb(253,255,193)
rgb(185,218,169)
*/

body {
    background-color: rgb(0, 0, 0);
    color: white;

    height: 100vh;

    scrollbar-width: none;
    overflow: hidden;
}

::-webkit-scrollbar {
    scrollbar-width: none;
}

.container {
    border: 1px none red;
}



#navBackground {
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: center;
}

nav {
    width: 90%;
    height: 4vh;
    z-index: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#name {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    text-decoration: none;

    font-size: 24px;

    color: rgb(0, 0, 0);
}

ul {
    list-style: none;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

li{
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
}

li:hover {
    background-color: rgb(253, 255, 193);
    box-shadow: rgb(253, 255, 193) 0 2px;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}

li .navA:hover {
    color: rgb(0, 0, 0);
}

nav a {
    display: inline-block;
    padding: 10px;
}

.navA {
    text-decoration: none;
    text-transform: uppercase;
    color: rgb(0, 0, 0);
}



main {
    margin-top: 4vh;
}

#heroBackground {
    background-image: url(Ellie1.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

#hero {
    width: 90%;
}

#content {
    user-select: none;
    width: fit-content;

    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#heroH1 {
    text-align: center;
    font-size: 125px;
    color: rgb(217,184,217);
}

#heroH6 {
    text-align: left;
    font-size: 24px;

    color: rgb(185,218,169);

    padding-top: 10px;
}

#heroButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.heroButtons {
    text-decoration: none;
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5%;
    padding: 10px;
    box-shadow: rgb(255,255,255) 0 0 15px;
    transition: transform 0.3s;
    -webkit-transition: transform 0.3s;
    -moz-transition: transform 0.3s;
    -ms-transition: transform 0.3s;
    -o-transition: transform 0.3s;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    -ms-border-radius: 5%;
    -o-border-radius: 5%;
}

.heroButtons:hover {
    background-color: rgb(185,218,169);
    color: rgb(0, 0, 0);
    border: 2px solid rgb(185,218,169);
    box-shadow: rgb(185,218,169) 0 0 30px;
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
}



@media (orientation: portrait) {
    nav {
        justify-content: center;
    }
}